---
layout: default
title: Tinker
---

<div id="content-wrapper">
<div class="inner clearfix">
<section id="main-content">
<h1>
PSGraph
</h1>
<hr>

<p>Proof-strategy graphs (PSGraphs) is a formalism that represents proof strategies as graphs, where tactics appear on nodes in a graph, and are connected by ‘piping’ them together. To prove a goal in such strategies, the goal is wrapped in a particular graph node, called goal node, and put in one of the input pipes of the graph. The tactic at the end of this pipe, will then consume this goal node, apply the tactic to the goal, and send any (wrapped) sub-goals to the output pipes. Properties of the pipes ensure that only the right ‘type’ of goals are accepted. </p>


 <center><img src="images/example.png"  title=" Some goal-nodes (depicted as circles) making their way through a PSGraph" width="600" ></center>

<h1>
Tinker
</h1>
<hr>

<p>The Tinker tool, which is a first implementation of PSGraphs. It adopts a generic theorem prover independent framework. We have currently connected it to Isabelle, ProofPower and Rodin. Tinker provides a range of novel features to develop, debug, maintain, record and export hierarchical proof strategies, such as library and hierarchical graphs; richer tactic and debugging options; and recording and replay.
</p>

 <center><img src="images/demo.png" title="Tinker" width="800" ></center>

<h1>
Tinker viz
</h1>
<hr>
Tinker allows users to record evaluation/proof steps and then export to a light-weight web application (written in HTML / CSS and JavaScript) via a generated JSON file. A demo of replaying a recorded evaluation is showed as follows. Uers can also try their own recorded evaluation  <a href="./tinkerViz" "tinker viz">HERE</a>.
{% include demo.html %}

<h1>
Tool demo
</h1>
<hr>
{% include tooldemo.html %}


<h1>
Publication
</h1>
<hr>
{% include publications.html %}


<h1>
Talks
</h1>
<hr>
{% include resources.html %}



</section>

<aside id="sidebar">

{% include download.html %}

{% include provers.html %}
<br>
{% include people.html %}
<br>
{% include grants.html %}
       
</aside>
</div>