---
layout: default
title: Tinker
---

<div id="content-wrapper">
<div class="inner clearfix">
<section id="main-content">
<h1>
PSGraph
</h1>
<hr>

<p>Proof-strategy graphs (PSGraphs) is a formalism that represents proof strategies as graphs, where tactics appear on nodes in a graph, and are connected by ‘piping’ them together. To prove a goal in such strategies, the goal is wrapped in a particular graph node, called goal node, and put in one of the input pipes of the graph. The tactic at the end of this pipe, will then consume this goal node, apply the tactic to the goal, and send any (wrapped) sub-goals to the output pipes. Properties of the pipes ensure that only the right ‘type’ of goals are accepted. </p>


 <center><img src="images/example.png"  title=" Some goal-nodes (depicted as circles) making their way through a PSGraph" width="600" ></center>

<h1>
Tinker
</h1>
<hr>

<p>The Tinker tool, which is a first implementation of PSGraphs. It adopts a generic theorem prover independent framework. We have currently connected it to both Isabelle and ProofPower. It is important to note that this is an extension of these provers. Users of these systems will still use the existing interface, with an additional graphical interface to step through the evaluation of a PSGraph. 
</p>

 <center><img src="images/tinker-isa-i.png" title="Tinker GUI with Isabelle" width="600" ></center>

<h1>
Publication
</h1>
<hr>
{% include publications.html %}


<h1>
Talks
</h1>
<hr>
{% include talks.html %}

<hr>
<a href="./tinkerViz" "tinker viz">Tinker viz</a>

</section>

<aside id="sidebar">

{% include download.html %}

{% include provers.html %}
<br>
{% include people.html %}
<br>
{% include grants.html %}
       
</aside>
</div>