div#graph {
	width: 100%;
/*	min-width: 800px;*/
	height: 600px;
}

svg {
	background-color: #F5F5F5;
	border-radius: 4px;
}

path {
	stroke:#333;
}

path.edge {
	fill:none;
	stroke-width:2px;
}

text {
	fill:#333;
	font-family:Arial;
}

text.nodeId {
	fill:#151515;
	font-size:9;
	font-weight:bold;
}

text.label {
	text-anchor:middle;
	font-size:14;
}

text.labelEdge {
	text-anchor:middle;
	font-size:12;
}

text.labelBreak {
	fill:#eee;
	text-anchor:middle;
	font-size:10;
	font-weight:bold;
}

rect {
	stroke-width:1px;
	stroke:#333;
}

rect.labelEdge {
	stroke-width:0px;
	fill:#a0a8d9;
	fill-opacity:0.5;
}

rect.atm {
	fill:#89D674;
}

rect.nst{
	fill:#F7A943;
}

polygon{
	stroke-width:1px;
	stroke:#333;
}

polygon.id {
	fill:#6495ED;
}

polygon.break {
	fill:#FF3000;
}

circle {
	stroke-width:1px;
	stroke:#333;
}

circle.break {
	fill:#FF3000;
}

circle.goal {
	fill:#B0C4DE;
}

.tooltip {
  line-height: 1;
  font-weight: normal;
  padding: 12px;
  background: rgba(40, 70, 70, 0.8);
  color: #fff;
  border-radius: 8px;
}

/* Creates a small triangle extender for the tooltip */
.tooltip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(50, 50, 50, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.tooltip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}