<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Sample Preferences"
            class="test2.preferences.SamplePreferencePage"
            id="test2.preferences.SamplePreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="test2.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
