		<div class="section" id="tooldemo">
			<ul>
			    <li><a onclick="changeVideoSource(0)">- Basic Drag and Drawing Editing</a></li>
			    <li><a onclick="changeVideoSource(1)">- Supports for Hierarchy</a></li>
			    <li><a onclick="changeVideoSource(2)">- PSGraph Library</a></li>
			    <li><a onclick="changeVideoSource(3)">- Evaluation and Debugging</a></li>
			    <li><a onclick="changeVideoSource(4)">- Breakpoint</a></li>
			</ul>
			<div id="vidContainer">
				<iframe id="vid" width="680" height="390" src="">
				</iframe>
			</div>
			<script>
				var videosSource = [
					"https://www.youtube.com/embed/Rll0NH4MFiI",
					"https://www.youtube.com/embed/LTyAH9IJbfU",
					"https://www.youtube.com/embed/soAA3pSUTAI",
					"https://www.youtube.com/embed/L-RHYPXI4Ws",
					"https://www.youtube.com/embed/JSLqI9dBaq4"
					]
				function changeVideoSource(index){
					document.getElementById("vid").setAttribute("src",videosSource[index])
				}
				document.getElementById("vid").setAttribute("src",videosSource[0])
			</script>
		</div>